<!DOCTYPE html>
<html>
  <head>
    <title>Adobe</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <link rel="stylesheet" type="text/css" href="./../css/style.css">
  </head>
  <body>
  	<header>
    	<div class="header_cont">
    		<div>
	    		<h1>ADOBE</h1>
	    	</div>
	    	<div class="items_count">
	    		<p>Item is Added to cart</p>
	    	</div>
    	</div>
	</header>
  <section class="section_container">
    <div class="left_container">
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="item_details_bx">
        <div class="img_container">
          <img src="https://picsum.photos/200/300" width="20%">
          <div class="discount_tag"></div>
        </div>
        <div class="item_price_action">
          <div class="item_heading">Item1</div>
          <div class="item_action">
            <span>$10</span>
            <span>$5</span>
            <button>ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
    <div class="right_container">
      <div class="item_cart_details">
        <div class="item_cart_heading">
          <div class="item_name_heading">Item</div>
          <div class="count_heading">Count</div>
          <div class="item_price_heaing">price</div>
        </div> 
        <div class="item_cart_body">
          <div class="item_each_row">
            <div class="item_name">
              item 1
            </div>
            <div class="price_calculate">
              <button>-</button>
              <input type="tel" name="" disabled>
              <button>+</button>
            </div>
            <div class="item_price">$3</div>
          </div>
          <div class="item_each_row">
            <div class="item_name">
              item 1
            </div>
            <div class="price_calculate">
              <button>-</button>
              <input type="tel" name="" disabled>
              <button>+</button>
            </div>
            <div class="item_price">$3</div>
          </div>
          <div class="item_each_row">
            <div class="item_name">
              item 1
            </div>
            <div class="price_calculate">
              <button>-</button>
              <input type="tel" name="" disabled>
              <button>+</button>
            </div>
            <div class="item_price">$3</div>
          </div>
        </div>  
      </div>

      <div class="item_cart_price_details">
        <h5>Total</h5>
        <div class="item_cart_price_each_row">
          <span class="start_span">Item (3)</span> :
          <span class="last_span">$6</span>
        </div>
        <div class="item_cart_price_each_row">
          <span class="start_span">Discount</span> :
          <span class="last_span">-$123.9</span>
        </div>
        <div class="item_cart_price_each_row">
          <span class="start_span">Type Discount</span> :
          <span class="last_span">-$0.8</span>
        </div>
      </div>
    </div>
  </section>

  </body>
</html>